In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors

In [64]:
df = pd.read_csv('daily_report_python.csv')

In [65]:
df.head()
df_meeting_data = df.iloc[:1]
df_meeting_data

,Meeting ID,Topic,Start Time,End Time,User Email,Duration (Minutes),Participants,Unnamed: 7
0,94260712307,BTEC Fall Training,11/08/2022 08:57:15 AM,11/08/2022 11:11:34 AM,b.Jaber@ltuc.com,135,64,NaN

In [66]:
df_participants = pd.read_csv('daily_report_python.csv', skiprows=3)
print(df_participants)
# meeting_duration= int(df_1["Duration (Minutes)"][0])
# meeting_duration

   Name (Original Name)                 User Email               Join Time  \
0          Boshra Jaber           b.jaber@ltuc.com  11/08/2022 08:57:15 AM
1    Mostafa Albelbeisi  20020480@student.ltuc.com  11/08/2022 08:57:34 AM
2   Mohannad Ghabashneh  22034356@student.ltuc.com  11/08/2022 08:57:35 AM
3        Abdallah Mousa  22033848@student.ltuc.com  11/08/2022 08:58:00 AM
4          Ashar Momani                        NaN  11/08/2022 08:58:14 AM
..                  ...                        ...                     ...
59           Tahani Ali                        NaN  11/08/2022 10:42:45 AM
60           Tahani Ali                        NaN  11/08/2022 10:46:22 AM
61          رزان عويضات                        NaN  11/08/2022 09:36:33 AM
62           Tahani Ali                        NaN  11/08/2022 10:44:22 AM
63          Walaa Atiyh                        NaN  11/08/2022 11:01:33 AM

                Leave Time  Duration (Minutes) Guest Recording Consent  \
0   11/08/2022 09:41:03 AM                  44    No               NaN
1   11/08/2022 11:11:34 AM                 134    No               NaN
2   11/08/2022 11:11:34 AM                 134    No               NaN
3   11/08/2022 11:11:34 AM                 134    No               NaN
4   11/08/2022 11:11:34 AM                 134   Yes               Yes
..                     ...                 ...   ...               ...
59  11/08/2022 10:44:21 AM                   2   Yes               NaN
60  11/08/2022 11:11:34 AM                  26   Yes               NaN
61  11/08/2022 09:37:59 AM                   2   Yes               NaN
62  11/08/2022 10:45:39 AM                   2   Yes               NaN
63  11/08/2022 11:11:34 AM                  11   Yes               NaN

   In Waiting Room
0               No
1               No
2               No
3               No
4               No
..             ...
59              No
60              No
61              No
62              No
63              No

[64 rows x 8 columns]

In [67]:
df_participants.columns

Index(['Name (Original Name)', 'User Email', 'Join Time', 'Leave Time',
       'Duration (Minutes)', 'Guest', 'Recording Consent', 'In Waiting Room'],
      dtype='object')

In [68]:

df_participants["Student ID"] = df_participants["User Email"].str.extract(pat='(^[0-9]*)')
df_participants = df_participants.dropna(subset=['Student ID'])
df_participants["Attended Time"] = df_participants["Duration (Minutes)"].astype("int")
df_participants = df_participants.groupby("Student ID", as_index=False)["Attended Time"].sum()
df_participants["Attendance Percentage"] = (df_participants["Attended Time"]/meeting_duration)*100
df_participants["Status"] = ['Absent' if x < meeting_duration - 21 else "Late" if meeting_duration - 20 <= x < meeting_duration-10 else "Present" for x in df_participants["Attended Time"]]
df_participants

   Student ID  Attended Time  Attendance Percentage   Status
0                        551             408.148148  Present
1    19012233            132              97.777778  Present
2    20019322            131              97.037037  Present
3    20019523            120              88.888889     Late
4    20020480            134              99.259259  Present
5    21023784            124              91.851852     Late
6    22032930            130              96.296296  Present
7    22033848            134              99.259259  Present
8    22034140            130              96.296296  Present
9    22034185            107              79.259259   Absent
10   22034186            128              94.814815  Present
11   22034189            132              97.777778  Present
12   22034245            130              96.296296  Present
13   22034252            130              96.296296  Present
14   22034270            133              98.518519  Present
15   22034278            126              93.333333  Present
16   22034284            127              94.074074  Present
17   22034289            127              94.074074  Present
18   22034306            122              90.370370     Late
19   22034311            121              89.629630     Late
20   22034319            123              91.111111     Late
21   22034326            127              94.074074  Present
22   22034356            134              99.259259  Present
23   22034359            132              97.777778  Present
24   22034361            127              94.074074  Present
25   22034362             61              45.185185   Absent
26   22034365            125              92.592593  Present
27   22034368            133              98.518519  Present
28   22034371            122              90.370370     Late

In [69]:
df_participants = df_participants.iloc[1:]

In [70]:
def highlight_cells(val):
    if val == 100:
        code = (0.3, 0.5, 1)
        color = matplotlib.colors.hsv_to_rgb(code)
        final = matplotlib.colors.to_hex(color, keep_alpha=False)
    elif val >= 50:
        code = (0.3, 0.5, 0.5)
        color = matplotlib.colors.hsv_to_rgb(code)
        final = matplotlib.colors.to_hex(color, keep_alpha=False)
    elif val < 50:
        code = (0.3, 0.5, 0.3)
        color = matplotlib.colors.hsv_to_rgb(code)
        final = matplotlib.colors.to_hex(color, keep_alpha=False)
    else:
        final = ""
    return "background-color: {}".format(final)

In [71]:
df_participants.style.applymap(highlight_cells, subset=['Attendance Percentage']).to_excel('data.xlsx', engine='openpyxl')